.profil {
  background-color: #f4f7ff;
  font-family: "Poppins";
  font-style: normal;
  color: #373a42;
}

.main_profil {
  margin: 50px 30px;
  margin-left: 50px;
  padding: 50px;
  width: 1000px;
  height: 800px;
  background: #ffffff;
  border-radius: 30px;
}
.form-profil {
  width: 100%;
  height: 500px;
}
.label-profil {
  width: 50%;
  height: 500px;
}
.data-user {
  padding: 0px;
  margin-left: 0px;
  width: 50%;
  height: 500px;
}
.form-image-user {
  width: 30%;
  height: 350px;
  justify-content: space-around;
  border-left: 1px solid rgba(193, 197, 208, 0.25);
}
.input_profil {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10px;
  box-sizing: border-box;

  width: 300px;
  height: 38px;

  background: #ffffff;
  border: 1px solid #c1c5d0;
  border-radius: 15px;
}
.image_profil {
  display: flex;
  justify-content: center;
}
.avatar-profil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid blue;
  margin-top: 30px;
}
.choose-photo {
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  width: 225px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #3366ff;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 1px;

  color: #3366ff;
}

.button-choose {
  display: flex;
  justify-content: center;
}
.save-profil {
  text-align: center;
  box-sizing: border-box;
  width: 225px;
  height: 40px;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  margin-top: 100px;
  text-align: center;
  letter-spacing: 1px;
  background: #3366ff;
  box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
  border-radius: 15px;
}
