#manage_event {
  background-color: #f4f7ff;
  font-family: "Poppins";
  color: #373a42;
}
#main-manage-event {
  margin-left: 50px 30px;
  padding: 50px;
  width: 1000px;
  height: 800px;
  background: white;
  border-radius: 30px;
}
.modal-event {
  align-content: center;
  justify-content: center;
  margin: auto;
  margin-left: -250px;
  padding: 50px;
  width: 1000px;
  height: 800px;
  background: white;
  border-radius: 30px;
}
.view-image {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
