#signin {
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 750px;
  width: 66%;
  background-color: #3366ff;
}
.image_signin {
  position: relative;
  width: 550px;
  height: 480px;
}
.text_signin_1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */

  letter-spacing: 1px;

  color: #373a42;
  margin-top: 20px;
}
.text_signin_2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 40px;
}
.forgot_password {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3366ff;
  text-decoration: none;
  text-align: right;
  margin: 10px;
}

.form_signin {
  padding: 50px 20px;
  margin: auto;
}

.form_input_signin {
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  width: 300px;
  height: 20px;
  border: 1px solid #c1c5d0;
  border-radius: 15px;
}
.form_input_signin1 {
  margin-top: 10px;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
  width: 300px;
  height: 20px;
  border: 1px solid #c1c5d0;
  border-right: 0px;
  border-radius: 15px;
}
.input_password {
  width: 300px;
}
.button_hendle_password {
  margin-top: 10px;
  box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 32px;
  position: relative;
  width: 40px;
  height: 15px;
  border: 1px solid #c1c5d0;
  border-left: 0px;
  border-radius: 10px;
}

.submit_signin {
  box-sizing: border-box;
  width: 300px;

  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;

  font-size: 16px;
  margin: 4px;
  cursor: pointer;

  border-radius: 15px;
  background: #3366ff;
}

.logo {
  display: flex;
  gap: 10px;
  justify-content: space-around;
  margin-top: 20px;
}

.google {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #c1c5d0;
  border-radius: 6px;
}
.fb {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid #c1c5d0;
  border-radius: 6px;
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 767.98px) {
  .image_signin {
    visibility: hidden;
  }
  .signin {
    width: 0%;
  }
}
